target
.classpath
.project
.settings
bin
build.log
integration-repo
ivy-cache
spring-build
derby-home
derbydb
derby.log
derbydb
com.springsource.sts.config.flow.prefs
s3.properties
.idea
*.iml
*.ipr
*.iws
.*.swp
.DS_Store
.springBeans
