antora:
  extensions:
  - '@springio/antora-extensions/partial-build-extension'
  - require: '@springio/antora-extensions/latest-version-extension'
  - require: '@springio/antora-extensions/inject-collector-cache-config-extension'
  - '@antora/collector-extension'
  - '@antora/atlas-extension'
  - require: '@springio/antora-extensions/root-component-extension'
    root_component_name: 'batch'
  - '@springio/antora-extensions/static-page-extension'
site:
  title: Spring Batch
  url: https://docs.spring.io/spring-batch/reference
  robots: allow
git:
  ensure_git_suffix: false
content:
  sources:
  - url: https://github.com/spring-projects/spring-batch
    # Refname matching:
    # https://docs.antora.org/antora/latest/playbook/content-refname-matching/
    branches: [ main,'({5..9}).+({1..9}).x' ]
    tags: [ 'v({5..9}).+({0..9}).+({0..9})?(-{RC,M}+({0..9}))', '!(v5.0.+({0..9})?(-{RC,M}+({0..9})))','!(v5.1.0-M1)','!(v5.1.0-M2)' ]
    start_path: spring-batch-docs
asciidoc:
  attributes:
    page-stackoverflow-url: https://stackoverflow.com/tags/spring-batch
    page-pagination: ''
    hide-uri-scheme: '@'
    tabs-sync-option: '@'
  extensions:
  - '@asciidoctor/tabs'
  - '@springio/asciidoctor-extensions'
urls:
  latest_version_segment_strategy: redirect:to
  latest_version_segment: ''
  redirect_facility: httpd
ui:
  bundle:
    url: https://github.com/spring-io/antora-ui-spring/releases/download/v0.4.7/ui-bundle.zip
    snapshot: true
runtime:
  log:
    failure_level: warn
    format: pretty
