<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:batch="http://www.springframework.org/schema/batch"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd">

	<batch:job id="validJob">
		<batch:step id="validJob.step1">
			<batch:tasklet>
				<batch:chunk reader="itemReader1" writer="itemWriter" commit-interval="2" skip-limit="1">
					<batch:skippable-exception-classes>
						<batch:include class="org.springframework.ldap.ldif.InvalidAttributeFormatException"/>
					</batch:skippable-exception-classes>
				</batch:chunk>
			</batch:tasklet>
		</batch:step>
	</batch:job>

	<batch:job id="invalidJob">
		<batch:step id="invalidJob.step1">
			<batch:tasklet>
				<batch:chunk reader="itemReader2" writer="itemWriter" commit-interval="2" />
			</batch:tasklet>
		</batch:step>
	</batch:job>

	<bean id="itemReader1" class="org.springframework.batch.item.ldif.LdifReader" scope="step">
		<property name="resource" value="test.ldif" />
		<property name="recordsToSkip" value="1" />
	</bean>

	<bean id="itemReader2" class="org.springframework.batch.item.ldif.LdifReader" scope="step">
		<property name="resource" value="missing.ldif" />
		<property name="recordsToSkip" value="1" />
	</bean>

	<bean id="itemWriter" class="org.springframework.batch.item.file.FlatFileItemWriter" scope="step">
		<property name="resource" value="file:target/test-outputs/output.ldif" />
		<property name="lineAggregator">
			<bean class="org.springframework.batch.item.file.transform.PassThroughLineAggregator" />
		</property>
	</bean>
</beans>