<!DOCTYPE chapter PUBLIC "-//OASIS//DTD DocBook XML V4.4//EN"
                 "http://www.oasis-open.org/docbook/xml/4.4/docbookx.dtd">
<chapter id="spring-tasklet">
	<title>Tasklet and the Repeat Template</title>

  <section>
     <title id="sp.1">What is a Tasklet?</title>
    <para>Document what a Tasklet is. Include the diagram of showing its place in the batch domain world.</para>
   </section>
 
  <section>
     <title id="sp.2">Item Providers</title>
    <para>Document Item Providers. Discuss some default item providers</para>
   </section>
 
  <section>
     <title id="sp.3">Item Processor</title>
    <para>Talk about default Item Processor</para>
   </section>

  <section>
     <title id="sp.4">Item Provider Process Tasklet</title>
    <para>Don't worry about how all the pieces work but focus on Talk about default Item Processor</para>
   </section>
 
  <section>
     <title id="sp.5">The role of the Repeat Template</title>
    <para>The two repeat templates used by ItemProcessor.</para>
   </section>
  </chapter>
