name: Spring Batch Extension Build

on:
  workflow_dispatch:
    inputs:
      extension:
        description: "Extension name"
        required: true
        type: choice
        options:
          - spring-batch-bigquery
          - spring-batch-excel
          - spring-batch-elasticsearch
          - spring-batch-neo4j
          - spring-batch-notion
      javaVersion:
        description: "Java version"
        required: true
        type: choice
        options:
          - '17'
          - '25'

jobs:
  build:
    name: Build an extension
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          repository: 'spring-projects/spring-batch-extensions'
          ref: 'main'

      - name: Set up JDK ${{ github.event.inputs.javaVersion }}
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: '${{ github.event.inputs.javaVersion }}'
          distribution: 'temurin'

      - name: Build extension with Maven
        run: mvn -B package --file pom.xml
        working-directory: ${{ github.event.inputs.extension }}
